.container {
    padding: 20px;
    max-width: 1280px;
    width: 100%;
  }
  
  .container h1 {
    margin-bottom: 16px;
  }
  
  input {
    background-color: #f0f5f6;
  }
  
  input::placeholder {
    color: #a39d9dcc;
  }